@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poiret One";
  src: url("/src/assets/font/Poiret_One/PoiretOne-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
